@font-face {
	font-family: Lato-400;
	src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
	font-family: Lato-700;
	src: url(../fonts/Lato-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: Cormorant-Garamond-400;
	src: url(../fonts/CormorantGaramond-Regular.ttf);
}

@font-face {
	font-family: Cormorant-Garamond-500;
	src: url(../fonts/CormorantGaramond-Medium.ttf);
	font-weight: 500;
}
