html,
body {
	height: 100%;
}

body {
	background: #fff;
	font: 18px/1 "Lato-400", sans-serif;
	color: $default-color;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main {
	flex: 1 0 auto;
}

.container {
	max-width: 1650px;
	width: 100%;
	height: auto;

	padding: 0 15px;
	margin: 0 auto;
}

.logo {
	transition: all 0.2s linear;

	&:hover {
		scale: 1.1;
	}
}

.link {
	display: flex;
	align-items: center;
	gap: 0 15px;

	width: fit-content;

	color: $accent-color;
	line-height: 1.5;
	letter-spacing: 0.01em;

	transition: all 0.2s linear;

	&:hover {
		scale: 1.07;
	}

	&-img {
		padding-top: 2px;
	}
}

@media (max-width: 1120px) {
	.link {
		margin: 0 auto;
	}
}
