$default-color: #3c3d3d;
$dark-color: #2f2f2f;
$accent-color: #d0b194;

$shadow: 0 1px 20px 0 #c2c2c2;

@mixin main-text {
	color: $dark-color;
	font: 400 55px/1 "Cormorant-Garamond-400", serif;
}

@mixin main-suptitle {
	font: 400 17px/1.3 "Lato-400", sans-serif;
	color: $accent-color;
	text-transform: uppercase;
	letter-spacing: 0.04em;

	padding-bottom: 40px;
}

@mixin heading-6 {
	color: $dark-color;
	font: 700 15px/1.5 "Lato-700", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.01em;
}

@mixin footer-text {
	font: 400 15px/1.5 "Lato-400", sans-serif;
	text-decoration: none;
	color: $dark-color;
	opacity: 0.7;
	letter-spacing: 0.01em;

	transition: all 0.2s linear;

	&:hover {
		opacity: 1;
	}
}
