.footer {
	padding: 125px 0 40px;
	background: #f8f8f8;

	&__logo {
		display: none;
		margin: 0 auto;
	}

	&__inner {
		display: flex;

		.footer__logo {
			display: block;
			margin: 0 auto 0 0;
			height: fit-content;
		}
	}

	&__top {
		display: flex;
	}

	&__menu {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		& + & {
			margin-left: 183px;
		}

		&-top {
			border-bottom: 1px solid #c8c8c8;
			padding-bottom: 160px;
			margin-bottom: 35px;

			display: flex;
			justify-content: space-between;
		}

		&-item {
			width: 227px;

			& + & {
				margin-left: 51px;
			}
		}

		&-copy {
			display: flex;
			justify-content: space-between;

			&__link {
				@include footer-text;
				opacity: 0.4;

				&:hover {
					text-decoration: underline;
				}
			}

			&__text {
				@include footer-text;
				opacity: 0.4;
				margin-right: 4px;
			}
		}

		&.footer__menu--contacts {
			.footer__menu-top {
				flex-direction: column;
				padding-bottom: 75px;
			}

			.footer__menu-item + .footer__menu-item {
				margin-left: 0;
				margin-top: 76px;
			}

			.footer__menu {
				&:last-child {
					padding-bottom: 0;
				}
			}

			.footer__text {
				@include footer-text;
				opacity: 0.4;
			}

			.footer__address {
				opacity: 0.7;
			}
		}
	}

	&__title {
		@include heading-6;

		margin-bottom: 25px;

		&.footer__title--social {
			margin-bottom: 15px;
		}
	}

	&__list {
		&-item {
			& + & {
				margin-top: 15px;
			}
		}

		&-link {
			@include footer-text;
		}
	}

	&__social-link {
		svg {
			path {
				transition: all 0.2s linear;
				fill: #959595;
			}
		}

		& + & {
			margin-left: 15px;
		}

		&--youtube:hover {
			svg path {
				fill: #ff0000;
				scale: 1.1;
			}
		}

		&--vkontakte:hover {
			svg {
				path {
					fill: #0277ff;
					scale: 1.1;
				}
			}
		}
		&--facebook:hover {
			svg {
				scale: 1.1;
				path {
					fill: #1a70e6;
					scale: 1.1;
				}
			}
		}
		&--twitter:hover {
			svg {
				path {
					fill: #1ea2f1;
					scale: 1.1;
				}
			}
		}
	}

	&__copy {
		display: none;
		gap: 0 35px;

		margin: 0 auto;

		&-item {
			display: flex;
			gap: 0 15px;
		}

		&-link {
			@include footer-text;
			opacity: 0.4;

			&:hover {
				text-decoration: underline;
			}
		}

		&-text {
			@include footer-text;
			opacity: 0.4;
		}
	}
}

@media (max-width: 1230px) {
	.footer {
		padding: 65px 40px;
		&__inner {
			flex-direction: column;
			gap: 40px 0;

			.footer__logo {
				display: none;
			}
		}

		&__logo {
			display: block;
			height: fit-content;
			width: fit-content;

			margin-bottom: 40px;
		}

		&__top {
			justify-content: center;
			gap: 0 40px;
		}

		&__menu {
			padding-bottom: 0;

			flex-direction: row;
			justify-content: center;

			&-top {
				gap: 0 40px;

				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}

			&-item {
				text-align: center;
				width: 50%;

				& + & {
					margin: 0;
				}
			}

			&-copy {
				display: none;
			}

			&.footer__menu--contacts {
				margin: 0;

				.footer__menu-top {
					flex-direction: row;
					padding-bottom: 0;
				}

				.footer__menu-item + .footer__menu-item {
					margin: 0;
				}
			}
		}

		&__copy {
			display: flex;
		}
	}
}

@media (max-width: 830px) {
	.footer {
		&__top {
			flex-direction: column;
			align-items: center;
			gap: 40px 0;
		}

		&__copy {
			flex-direction: column;
			align-items: center;

			gap: 5px 0;
		}
	}
}

@media (max-width: 610px) {
	.footer {
		padding: 55px 15px;
		&__copy-item {
			flex-direction: column;
			align-items: center;
		}
	}
}

@media (max-width: 440px) {
	.footer {
		&__title {
			margin-bottom: 10px;
		}

		&__menu {
			&-item {
				width: 100%;
			}
			&-top {
				flex-direction: column;
				align-items: center;
				gap: 25px 0;
			}

			&.footer__menu--contacts {
				.footer__menu-top {
					flex-direction: column;
					align-items: center;
					gap: 25px 0;
				}
			}
		}

		&__copy {
			width: 100%;
		}
	}
}
