.reviews {
	padding: 150px 0 250px;

	&__title {
		@include main-suptitle;
		padding-bottom: 20px;
	}

	&__item {
		display: flex !important;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__content {
		max-width: 50%;
		width: 100%;
		padding-right: 40px;

		&-text {
			@include main-text;
			max-width: 650px;
			width: 100%;
			padding-bottom: 82px;

			position: relative;

			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 15px;
				left: -20px;
				z-index: -1;

				width: 356px;
				height: 316px;

				background: url(../../img/quote.svg) center no-repeat;
			}
		}

		&-author {
			line-height: 1.5;
			letter-spacing: 0.01em;
			opacity: 0.7;

			padding-left: 100px;
		}
	}

	&__photo {
		&-img {
			padding-bottom: 80px;
		}

		&-controls {
			margin-left: auto;
			width: fit-content;
		}
	}

	.slick-arrow {
		position: absolute;
		bottom: -16px;
		z-index: 2;

		border: none;
		outline: none;
		background-color: transparent;

		transition: all 0.2s linear;

		font-size: 0;

		width: 31px;
		height: 16px;

		cursor: pointer;

		&:hover {
			scale: 1.1;
		}
	}

	.slick-prev {
		background: url(../../img/arrow-prev.svg) center no-repeat;
		right: 61px;
	}

	.slick-next {
		background: url(../../img/arrow-next.svg) center no-repeat;
		right: 0;
	}
}
